/*Mobile*/
/*Cart*/
.content-wrapper {
  color: #646464; }

.shoppingcart {
  width: 100%; }

a {
  text-decoration: none; }

.title {
  color: #646464;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  margin: 1.5rem 1rem; }

table {
  font-size: 1.4rem;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
  margin: 0 1rem 1.5rem 1rem; }
  table input {
    width: 4rem;
    padding: 5px; }
  table thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit; }
  table tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit; }
  table tr:hover {
    background-color: #fafafa; }
  table th, table td {
    border: 1px solid #dbdbdb;
    border-width: 0 0 2px;
    vertical-align: middle;
    text-align: left;
    padding: .25em .5em; }
  table th:first-child, table td:first-child {
    display: none; }
  table th:last-child, table td:last-child {
    padding-left: 0; }
  table td {
    text-align: center; }
  table td:nth-child(2) {
    text-align: left; }
  table th .pro-quantity, table th .pro-update, table th .pro-del, table th .pro-price {
    width: 10%; }
  table th .pro-name {
    width: 60%; }
  table tbody tr:last-child td {
    border-bottom-width: 0; }

.total-price {
  font-size: 1.4rem;
  color: #646464;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: right;
  margin-right: 3rem; }

.button {
  background-color: #00aced;
  border-color: transparent;
  color: #fff;
  -webkit-appearance: none;
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1.4rem;
  height: 2.25em;
  line-height: 1.5;
  padding-bottom: calc(.375em - 1px);
  padding-top: calc(.375em - 1px);
  position: relative;
  vertical-align: top;
  cursor: pointer;
  -webkit-box-pack: center;
  justify-content: center;
  padding-left: .75em;
  padding-right: .75em;
  text-align: center;
  white-space: nowrap; }

.button:hover {
  background-color: #0296ce; }

.control {
  text-align: right;
  margin-right: 1.15rem;
  margin-bottom: 10rem; }
  .control span:last-child {
    margin-left: .5rem; }

.empty {
  color: #646464;
  font-size: 2.5rem;
  text-align: center; }
  .empty .fa-shopping-cart {
    color: #646464;
    font-size: 5rem;
    margin-top: 20rem; }
  .empty p {
    margin: 1rem auto 20rem auto; }

/*Checkout*/
.contact-form {
  margin: .5rem 1rem; }
  .contact-form legend {
    display: none; }
  .contact-form fieldset {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    border: 0; }
    .contact-form fieldset p {
      margin: .8rem 0; }
      .contact-form fieldset p label {
        display: inline-block;
        width: 15rem;
        text-align: right; }
      .contact-form fieldset p label:last-child {
        width: 30rem;
        text-align: left;
        margin-left: 1rem; }
      .contact-form fieldset p label.error {
        color: #ff690c; }
    .contact-form fieldset .checkbox {
      margin-top: 2rem; }
  .contact-form input {
    margin-left: 1rem;
    padding: 5px; }
  .contact-form #agree {
    vertical-align: middle; }
  .contact-form button.button {
    float: right;
    margin-right: 3rem;
    margin-bottom: 10rem; }

/*Desktop*/
@media screen and (min-width: 550px) {
  .wrapper {
    width: 1200px; }

  .content-wrapper {
    margin: 0 100px; }

  .title {
    font-size: 2.5rem; }

  .control {
    margin-bottom: 20rem; }

  table {
    width: 100%;
    font-size: 1.6rem; }
    table th, table td {
      padding: .5em .75em; }
    table td img {
      height: 10rem;
      display: inline-block; }
    table th:first-child, table td:first-child {
      display: table-cell; }

  .control {
    margin-bottom: 20rem; }

  .button {
    font-size: 1.5rem;
    margin: .25rem; }

  .total-price {
    font-size: 1.6rem; }

  /*Checkout*/
  .contact-form h2 {
    font-size: 1.8rem; }
  .contact-form fieldset {
    font-size: 1.6rem;
    border: 2px solid #dbdbdb;
    width: 100%;
    margin-top: 1rem; }
    .contact-form fieldset p {
      margin: 1.5rem 0; }
      .contact-form fieldset p label {
        width: 20rem;
        margin-left: 10rem; }
      .contact-form fieldset p label:last-child {
        width: 40rem; }
      .contact-form fieldset p input {
        width: 25rem; }
  .contact-form #agree {
    width: auto;
    margin-left: 20rem; }
  .contact-form #agree-error.error {
    text-align: left;
    margin-left: 1rem;
    width: auto; }

  .error {
    float: none;
    width: auto;
    margin-left: 0; } }

/*# sourceMappingURL=cart.css.map */
